.root {
-fx-background-image: url("dogs-playing-poker.jpg");
-fx-background-size: 800px 600px;

}
.label {
	-fx-text-fill: red;
	-fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
  	-fx-font-size: 32px;
  	-fx-font-weight: bold;
}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-width: 2.0px;
}